.figure-list {
  @extend %clearfix;
}

[class*="figure-list__figure"]{
  margin-top: 0;
}

.figure-list__caption, 
.figure-list__caption * {
  @include core-font(16);
}

.figure-list__caption {
  margin-top: 0;
  @include element-padding(compact);
  background: $grey-4;
}

.figure-list__btn {
  margin-top: 0;
  @extend .button;
  @include core-font(16);
  width: auto;
  float: right;
  background: $grey-4;
  color: $grey-2;
  margin-right: 0;
  padding: ($baseline-grid-unit * 3) ($baseline-grid-unit * 4);
  
  @include media(desktop) {
    padding: ($baseline-grid-unit * 3) ($baseline-grid-unit * 6);
  }
  
  &:link,
  &:hover,
  &:focus,
  &:visited {
    background-color: $grey-3;
    color: $grey-1;
  }
}

.figure-list--full-width {
  
 [class*="figure-list__figure"]{
    &:last-of-type {
      margin-bottom: $default-spacing-unit;
      border-bottom: 4px solid $grey-3;
    }
  } 
}

.figure-list--grid {
  
  @include media(tablet){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: ($default-spacing-unit / -2);
    margin-right: ($default-spacing-unit / -2);
    align-items: flex-start;
    justify-content: space-between;
  }
  
  [class*="figure-list__figure"]{
    margin-bottom: $default-spacing-unit;
    
    @include media(tablet){
      padding: 0 ($default-spacing-unit / 2);
      max-width: 50%;
    }
  }
  
  .figure-list__caption {
    border-bottom: 4px $grey-3 solid;
  }
  
  .figure-list__btn {
    @include media(tablet){
      margin: 0 ($default-spacing-unit / 2) $default-spacing-unit auto;
      align-self: flex-end;
    }
  }
}

// Defaults to 2 column grid
[class*="figure-list--preview"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: ($default-spacing-unit / -4);
  margin-right: ($default-spacing-unit / -4);
  align-items: flex-start;
  justify-content: space-between;
  
  [class*="figure-list__figure"]{
    margin-bottom: ($default-spacing-unit / 2);
    padding: 0 ($default-spacing-unit / 4);
    max-width: 50%;
  }
  
  .figure-list__caption {
    @extend %visuallyhidden;
  }
  
  .figure-list__btn {
    margin: 0 ($default-spacing-unit / 2) ($default-spacing-unit / 2) auto;
    align-self: flex-end;
  }
}

// x3 thumbnails
.figure-list--preview-3 {
  flex-direction: column;
  height: 300px;
  //flex-wrap: nowrap;
  
  [class*="figure-list__figure"]{
    height: 50%;
    margin-bottom: 0;
    padding-bottom: ($default-spacing-unit / 2);
    
    img {
      max-height: 100%;
    }
  }
  
  .figure-list__figure-1 {
    max-width: none;
    height: 100%;
    //flex-grow: 2;
  }
}

