// Colours taken from the reduced colour palette developed for NHS.uk. Dervied from the brand guidelines.

//NHS blues

$nhs-blue: #005EB8;
$nhs-blue-50: #76ADDA;
$nhs-blue-10: #E6EFF8;
$nhs-blue-bright: #0072CE;
$nhs-blue-dark: #003087;


// NHS Greyscale
// This is an 5 step greyscale.
// Uses NHS brand colours as a foundation for 2 steps. And adds three modifieg greys

$nhs-grey-01: #425563; // darkest
$nhs-grey-02: #768692;
$nhs-grey-03: #AEB7BD;
$nhs-grey-04: #D8DDE0;
$nhs-grey-05: #F0F4F5; // lightest

$nhs-black: #231F20;
$nhs-white: #FFFFFF;


// Secondary colours: Green

$nhs-green-dark: #006747;
$nhs-green: #009639; // modified to comply with WCAG contrast with white
$nhs-green-light: #78BE20;


// Secondary colours: Yellow

$nhs-yellow-warm: #FFB81C;
$nhs-yellow-warm-50: #FADA8B;
$nhs-yellow-warm-10: #FDF2D5;

//  Secondary colours: Red

$nhs-emergency-red: #DA291C;
$nhs-emergency-red-50: #E3968A;
$nhs-emergency-red-10: #F5E6E4;



//  Links

$link-colour: $nhs-blue;
$link-visited-colour: $nhs-blue-dark;
$link-hover-colour: #4C92D9;
$link-active-colour: $nhs-blue;


$link-reverse-polarity: $nhs-white;
$link-visited-reverse-polarity: $nhs-white;
$link-hover-reverse-polarity: #4C92D9;
$link-active-reverse-polarity: $nhs-white;

$button-background: $nhs-green;

//focus

$focus-colour: $nhs-yellow-warm;








//

// $blue: #0072c6;
// $dark-blue: #003893;
// $light-blue: #4C92D9; //#2989E8;//167FDC; //#76ADDA; //#0091c9;
// $lightest-blue: #d4efff;

// // blue tints
// $blue-10: #e6f1f9;
// $light-blue-10: #eef7fb;

// $black: #000;
// $grey-1: #425563;
// $grey-2: #768692;
// $grey-3: #d9e1e2;
// $grey-4: #eff1f2;
// $white: #fff;

// $green: #009e49;
// $light-green: #5bbf21;
// $aqua-green: #00adc6;

// $red: #d81e05;
// $red-60: #e87869;
// $red-10: #fbe8e6;

// $yellow: #ffb81c;
// $yellow-1: #ffd477;
// $yellow-2: #fff4d2;


// semantic colour names

//$link-active-colour: $light-blue;
//$link-active-reverse-polarity: $lightest-blue;


// $button-background: #008a40; // shade($green, 12.5%); for WCAG AA compliance
