{% extends '_layouts/content-simple.nunjucks' %}

{% set title = 'Acne' %}
{% set intro = 'Acne is a common skin condition that affects almost everybody at some point in their lives. Acne mostly affects teenagers but adults can develop it too.' %}

{% set guide_parent = 'acne-guide' %}
{% set guide_pages = '7' %}

{% set guide_pages_1 = { 'Check if it’s acne': '/check-if-its-acne/', 'How to treat acne yourself': '/how-to-treat-acne-yourself/', 'When to see your GP': '/when-to-see-your-gp/','Understanding medication': '/understanding-medication/' } %}
{% set guide_pages_2 = { 'Getting further treatment': '/further-treatment/', 'What causes acne': '/what-causes-acne/', 'Finding help and support': '/finding-help-and-support/' } %}

{% set next_page = { 'When to see your GP': '/when-to-see-your-gp/' } %}
{% set prev_page= { 'Check if it’s acne': '/check-if-its-acne/' } %}

{% block main_content %}
  {% markdown "acne-guide/how-to-treat-acne-yourself/main-content.md" %}
  {% include '_includes/guide-pager.nunjucks' %}
{% endblock %}