{% extends '_layouts/content-simple.nunjucks' %}

{% set title = 'Acne' %}
{% set intro = 'Acne is a common skin condition that affects almost everybody at some point in their lives. Acne mostly affects teenagers but adults can develop it too.' %}

{% set guide_parent = 'acne-guide' %}
{% set guide_pages = '7' %}

{% set guide_pages_1 = { 'Check if it’s acne': '/check-if-its-acne/', 'Treating acne': '/treating-acne', 'Comparing medication': '/comparing-medication/' } %}
{% set guide_pages_2 = { 'What causes acne': '/what-causes-acne/', 'Finding help and support': '/finding-help-and-support/' } %}

{% set next_page = { 'Comparing medication': '/comparing-medication/' } %}
{% set prev_page = { 'Check if it’s acne': '/check-if-its-acne/' } %}

{% block main_content %}
  {% markdown "acne-guide/treating-acne/main-content.md" %}
  {% include '_includes/guide-pager.nunjucks' %}
{% endblock %}