{% extends '_layouts/content-simple.nunjucks' %}

{% set title = 'Acne' %}
{% set intro = 'If you have a few spots your pharmacist will be able to recommend treatment. For more serious acne you can see your GP.' %}
{% set nonEmergencyCallout = 'true' %}

{% set link_list = { 'Check if it’s acne': '#check', 'How to treat acne yourself': '#treating-1', 'When to see your GP': '#treating-2', 'Comparing medication': '#medication', 'What causes acne': '#medication', 'Finding help and support': '#help' } %}

{% block main_content %}
  {% markdown "acne/main-content.md" %}
{% endblock %}